<div class="container">
  <div class="row"></div>
<div class="most-awesome">
  <h1>Most Awesome App <small>
  </small></h1>
  <img src="http://mentalfloss.com/sites/default/files/styles/article_640x430/public/bill-nye-space-command.jpg" alt="...">
  <div class="carl-sagan">
  <h2>Carl Sagan <small>Member since 1970</small></h2>
     <p>Carl Edward Sagan was an American astronomer, astrophysicist, cosmologist, author, science popularizer and science communicator in astronomy and other natural sciences. His contributions were central to the discovery of the high surface temperatures of Venus. However, he is best known for his contributions to the scientific research of extraterrestrial life, including experimental demonstration of the production of amino acids from basic chemicals by radiation.</p>
    <h3>Location: <small>Brooklyn</small></h3>
    <h4>Completion:</h4>
    <div class="progress">
 <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
    95%
  </div>
</div>
</div>
</div>
  </div>